.formulario{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 250px;
    padding: 15px;
    border-radius: 50px 0px 50px 0px;
    margin-left: 35%;
    margin-top: 30px;
}

#login{
    text-align: center;
    justify-content: center;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 25px;
}

label{
    font-size: 12px;
    padding-bottom: 3px;
    padding-top: 5px;
}

#input-user{
    background-color: black;
    border: none;
    border-bottom: 1px solid white;
}

#input-pass{
    background-color: black;
    border: none;
    border-bottom: 1px solid white;
}

button{
    margin-top: 10px;
    border-radius: 15px;
    height: 25px;
}

.formulario-baixo{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#esqueceu-senha{
    color: rgb(62, 68, 73);
    font-size: 12px;
}

#nao-tem-conta{
    color: rgb(180, 37, 37);
    font-size: 12px;
}

a{
    text-decoration: none;
}

button:hover{
    background-color: rgb(206, 203, 203);
    color: white;
    transition: 0.5s;
}

#esqueceu-senha:hover{
    color: rgb(130, 127, 127);
    transition: 0.5s;
}

#nao-tem-conta:hover{
    color: rgb(227, 70, 70);
    transition: 0.5s;
}